.header {
  background: var(--clr-bg-light);
  background: linear-gradient(
    90deg,
    var(--clr-bg-light) 0%,
    var(--clr-bg-light) 67%,
    var(--clr-bg-strong) 67%,
    var(--clr-bg-strong) 100%
  );
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.header-grid {
  display: grid;
  gap: var(--space-m);
  grid-template-columns: clamp(17rem, 33%, 27rem) 1fr;
  align-items: center;
  height: 100%;
}

.header-img-ctn {
  max-width: clamp(20rem, 33vw, var(--w-header-img));
  border-radius: var(--radius-md);
  position: absolute;
  top: 50%;
  left: 67%;
  transform: translate(-50%, -50%);

  &::before,
  &::after {
    --_offset: -8px;
    content: '';
    width: var(--_size);
    height: var(--_size);
    position: absolute;
    z-index: -1;
    border: var(--_width) solid var(--_clr);
    border-radius: var(--radius-md);
    border-bottom-right-radius: 0;
    border-right-color: var(--_clr-bg);
    border-top-left-radius: 0;
    border-top-color: var(--_clr-bg);
  }
  &::before {
    --_size: 20%;
    --_width: 4px;
    --_clr: var(--clr-bg-strong);
    --_clr-bg: var(--clr-bg-light);
    bottom: var(--_offset);
    left: var(--_offset);
  }
  &::after {
    --_size: 13%;
    --_width: 3px;
    --_clr: var(--clr-bg-light);
    --_clr-bg: var(--clr-bg-strong);
    top: var(--_offset);
    right: var(--_offset);
    transform: rotate(180deg);
  }
}

.header-img {
  width: 100%;
  display: block;
  border-radius: var(--radius-md);
}

.socials-ctn {
  display: flex;
  gap: var(--space-s);
}

@media (max-width: 767px) {
  .header {
    --_size: var(--space-m);
    background: linear-gradient(
      180deg,
      var(--clr-bg-strong) 0%,
      var(--clr-bg-strong) var(--_size),
      var(--clr-bg-light) var(--_size),
      var(--clr-bg-light) calc(100% - var(--_size)),
      var(--clr-bg-strong) calc(100% - var(--_size)),
      var(--clr-bg-strong) 100%
    );
    text-align: center;
  }

  .header-grid {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .header-text-content {
    max-width: 20rem;
  }

  .header-img-ctn {
    position: static;
    max-width: 10rem;
    transform: none;

    &::before,
    &::after {
      display: none;
    }
  }

  .header-img {
    border-radius: var(--radius-full);
  }

  .socials-ctn {
    justify-content: center;
  }
}
