.header {
  background: var(--clr-bg-light);
  background: linear-gradient(
    90deg,
    var(--clr-bg-light) 0%,
    var(--clr-bg-light) 67%,
    var(--clr-bg-strong) 67%,
    var(--clr-bg-strong) 100%
  );
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-grid {
  display: grid;
  gap: var(--space-m);
  grid-template-columns: 33% 1fr;
  align-items: center;
  height: 100%;
}

.header-img {
  width: 100%;
  max-width: clamp(20rem, 33vw, var(--w-header-img));
  display: block;
  border-radius: var(--radius-md);
  position: absolute;
  top: 50%;
  left: 67%;
  transform: translate(-50%, -50%);
}

.socials-ctn {
  display: flex;
  gap: var(--space-s);
}

@media (max-width: 767px) {
  .header {
    background: linear-gradient(
      180deg,
      var(--clr-bg-strong) 0%,
      var(--clr-bg-strong) var(--space-m),
      var(--clr-bg-light) var(--space-m),
      var(--clr-bg-light) calc(100% - var(--space-m)),
      var(--clr-bg-strong) calc(100% - var(--space-m)),
      var(--clr-bg-strong) 100%
    );
    text-align: center;
  }

  .header-grid {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .header-img {
    position: static;
    max-width: 10rem;
    border-radius: var(--radius-full);
    transform: none;
  }

  .socials-ctn {
    justify-content: center;
  }
}
